package app.usage;

<h1>How to Use the Fibonacci Calculator</h1>
<p>The Fibonacci Calculator allows you to generate Fibonacci numbers easily. Follow the steps below to use the calculator:</p>
<ol>
    <li>Open the Fibonacci Calculator application.</li>
    <li>Enter a positive integer in the input field to specify how many Fibonacci numbers you want to generate.</li>
    <li>Click the "Calculate" button.</li>
    <li>The Fibonacci sequence will be displayed below the input field.</li>
</ol>
<p>Here is an example of how to use the calculator:</p>
<pre><code>Input: 5
Output: 0, 1, 1, 2, 3</code></pre>
<p>In this example, entering 5 will generate the first five numbers in the Fibonacci sequence.</p>
<p>Enjoy using the Fibonacci Calculator!</p>
<ul>
    <li>Make sure to enter a valid positive integer.</li>
    <li>Check the output for accuracy.</li>
</ul>