package src.frontend.src.components.fibonacci;

<html>
<head>
    <title>Fibonacci Component</title>
</head>
<body>
    <h1>Fibonacci Series</h1>
    <p>Test Inputs:</p>
    <a href="#">5 Fibonacci Numbers</a>
    <a href="#">10 Fibonacci Numbers</a>
    <a href="#">15 Fibonacci Numbers</a>
    <input type="number" placeholder="Enter number of terms">
    <button>Calculate Fibonacci Series</button>
    <p>Calculated Fibonacci Series:</p>
    <ul>
        <li>0</li>
        <li>1</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</body>
</html>