package test-script;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Number Calculator Test Script</title>
</head>

<body>
    <h1>Fibonacci Number Calculator Test Script</h1>
    <p>Welcome to the Fibonacci Number Calculator Test Script. Please click on the links below to calculate different numbers of Fibonacci numbers.</p>
    
    <h2>Test Inputs:</h2>
    <ul>
        <li><a href="#">Calculate first 10 Fibonacci numbers</a></li>
        <li><a href="#">Calculate first 20 Fibonacci numbers</a></li>
        <li><a href="#">Calculate first 30 Fibonacci numbers</a></li>
    </ul>
    
    <h2>Instructions:</h2>
    <p>To test the Fibonacci calculator, simply click on one of the links above to calculate the desired number of Fibonacci numbers. The results will be displayed on the page.</p>
    
</body>

</html>