package frontend.src.components;

<html>
  <head>
    <title>Fibonacci Component</title>
  </head>
  <body>
    <h1>Fibonacci Series</h1>
    <p>Generated Fibonacci series will be displayed here</p>
    
    <h2>Test Input Links</h2>
    <a href="#" (click)="generateFibonacci(5)">Generate Fibonacci Series with 5 elements</a>
    <a href="#" (click)="generateFibonacci(10)">Generate Fibonacci Series with 10 elements</a>
    <a href="#" (click)="generateFibonacci(15)">Generate Fibonacci Series with 15 elements</a>
  </body>
</html>