package frontend.src.components;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci Series Calculator</title>
</head>
<body>
    <h1>Fibonacci Series Calculator</h1>
    <p>Click the links below to generate Fibonacci series:</p>
    <a href="#" id="fibonacci-5">Generate Fibonacci Series (5 numbers)</a>
    <a href="#" id="fibonacci-10">Generate Fibonacci Series (10 numbers)</a>
    <a href="#" id="fibonacci-15">Generate Fibonacci Series (15 numbers)</a>
    <div id="result"></div>

    <script>
        document.getElementById('fibonacci-5').addEventListener('click', function() {
            fetch('/api/fibonacci?count=5')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.join(', ');
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: Unable to generate Fibonacci series.';
                });
        });

        document.getElementById('fibonacci-10').addEventListener('click', function() {
            fetch('/api/fibonacci?count=10')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.join(', ');
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: Unable to generate Fibonacci series.';
                });
        });

        document.getElementById('fibonacci-15').addEventListener('click', function() {
            fetch('/api/fibonacci?count=15')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.join(', ');
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: Unable to generate Fibonacci series.';
                });
        });
    </script>
</body>
</html>