package fibonacci;

<h1>Tests for Fibonacci Numbers calculator</h1>
<p>Here are some inputs to the Fibonacci calculator to try:</p>
<ul>
    <li><a href="/fib/0">Fibonacci of 0</a></li>
    <li><a href="/fib/1">Fibonacci of 1</a></li>
    <li><a href="/fib/2">Fibonacci of 2</a></li>
    <li><a href="/fib/3">Fibonacci of 3</a></li>
    <li><a href="/fib/4">Fibonacci of 4</a></li>
    <li><a href="/fib/5">Fibonacci of 5</a></li>
    <li><a href="/fib/6">Fibonacci of 6</a></li>
    <li><a href="/fib/7">Fibonacci of 7</a></li>
    <li><a href="/fib/8">Fibonacci of 8</a></li>
    <li><a href="/fib/9">Fibonacci of 9</a></li>
</ul>